@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    HungryBird way<br />
    Redmond, WA 98052-6399<br />
</address>
<p>Need to update your details? Please ring us on: 07402 123789</p>
<address>
    <strong>Or email us at:</strong> <a href="mailto:HungryBird@Outlook.com">HungryBird@Outlook.com</a><br />
</address>
