@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to HungryBirds</h2>

        <p2>
            On this app you can setup your childrens meal plan for the week and pay in advance, making lunch much simpler for them!
        </p2>
    </div>
</div>
