@page
@model HungryBirds.Pages.MealChoiceModel
@{
    ViewData["Title"] = "MealChoice";
}

<h2>Weeks Meal Choice</h2>

<div class="panel panel-default">
    <div class="panel-heading">Monday</div>
    <div class="panel-body">
        <div class="checkbox, label label-warning">
            <label><input type="checkbox"> Chicken Pie</label>
        </div>
        <br />
        <div class="checkbox, label label-success">
            <label><input type="checkbox"> Cheese pizza</label>
        </div>
        <br />
        <div class="checkbox, label label-primary">
            <label><input type="checkbox"> Jacket potato</label>
        </div>
        <br />
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">Tuesday</div>
    <div class="panel-body">
        <div class="checkbox, label label-warning">
            <label><input type="checkbox"> Chicken Pie</label>
        </div>
        <br />
        <div class="checkbox, label label-success">
            <label><input type="checkbox"> Cheese pizza</label>
        </div>
        <br />
        <div class="checkbox, label label-primary">
            <label><input type="checkbox"> Jacket potato</label>
        </div>
        <br />
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">Wednesday</div>
    <div class="panel-body">
        <div class="checkbox, label label-warning">
            <label><input type="checkbox"> Chicken Pie</label>
        </div>
        <br />
        <div class="checkbox, label label-success">
            <label><input type="checkbox"> Cheese pizza</label>
        </div>
        <br />
        <div class="checkbox, label label-primary">
            <label><input type="checkbox"> Jacket potato</label>
        </div>
        <br />
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">Thursday</div>
    <div class="panel-body">
        <div class="checkbox, label label-warning">
            <label><input type="checkbox"> Chicken Pie</label>
        </div>
        <br />
        <div class="checkbox, label label-success">
            <label><input type="checkbox"> Cheese pizza</label>
        </div>
        <br />
        <div class="checkbox, label label-primary">
            <label><input type="checkbox"> Jacket potato</label>
        </div>
        <br />
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">Friday</div>
    <div class="panel-body">
        <div class="checkbox, label label-warning">
            <label><input type="checkbox"> Chicken Pie</label>
        </div>
        <br />
        <div class="checkbox, label label-success">
            <label><input type="checkbox"> Cheese pizza</label>
        </div>
        <br />
        <div class="checkbox, label label-primary">
            <label><input type="checkbox"> Jacket potato</label>
        </div>
        <br />
    </div>
</div>
<br />