@page
@model HungryBirds.Pages.MealChoiceModel
@{
    ViewData["Title"] = "MealChoice";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

    function validateForm() {


        var Choice1 = document.getElementById("meat1").checked;
        var Choice2 = document.getElementById("veg1").checked;
        var Choice3 = document.getElementById("special1").checked;
        var Choice4 = document.getElementById("meat2").checked;
        var Choice5 = document.getElementById("veg2").checked;
        var Choice6 = document.getElementById("special2").checked;
        var Choice7 = document.getElementById("meat3").checked;
        var Choice8 = document.getElementById("veg3").checked;
        var Choice9 = document.getElementById("special3").checked;
        var Choice10 = document.getElementById("meat4").checked;
        var Choice11 = document.getElementById("veg4").checked;
        var Choice12 = document.getElementById("special4").checked;
        var Choice13 = document.getElementById("meat5").checked;
        var Choice14 = document.getElementById("veg5").checked;
        var Choice15 = document.getElementById("special5").checked;

        if ((Choice1 == "") && (Choice2 == "") && (Choice3 == "")) {
            alert("Please choose one option for Monday");
            return false;
        }
        else if ((Choice4 == "") && (Choice5 == "") && (Choice6 == "")) {
            alert("Please choose one option for Tuesday");
            return false;
        }
        else if ((Choice7 == "") && (Choice8 == "") && (Choice9 == "")) {
            alert("Please choose one option for Wednesday");
            return false;
        }
        else if ((Choice10 == "") && (Choice11 == "") && (Choice12 == "")) {
            alert("Please choose one option for Thursday");
            return false;
        }
        else if ((Choice13 == "") && (Choice14 == "") && (Choice15 == "")) {
            alert("Please choose one option for Friday");
            return false;
        }
        return true;
    }
</script>

  



<h2>Weeks Meal Choice</h2>

<form name="Monday" action="" onsubmit="return validateForm()" method="post" style="width:500px; margin: auto;">
    <div class="panel panel-default">
        <div class="panel-heading">Monday</div>
        <div class="panel-body">
            <div class="checkbox, label label-warning">
                <label><input type="checkbox" id="meat1" class="Group1"> Chicken Pie</label>
            </div>
            <br />
            <div class="checkbox, label label-success">
                <label><input type="checkbox" id="veg1" class="Group1"> Cheese pizza</label>
            </div>
            <br />
            <div class="checkbox, label label-primary">
                <label><input type="checkbox" id="special1" class="Group1"> Jacket potato</label>
            </div>
            <br />
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Group1').click(function () {
                $('.Group1').not(this).prop('checked', false);
            });
        });
    </script>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Tuesday</div>
        <div class="panel-body" id=" tue">
            <div class="checkbox, label label-warning">
                <label><input type="checkbox" id="meat2" class="Group2"> Chicken Pie</label>
            </div>
            <br />
            <div class="checkbox, label label-success">
                <label><input type="checkbox" id="veg2" class="Group2"> Cheese pizza</label>
            </div>
            <br />
            <div class="checkbox, label label-primary">
                <label><input type="checkbox" id="special2" class="Group2"> Jacket potato</label>
            </div>
            <br />
        </div>
    </div>
    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Group2').click(function () {
                $('.Group2').not(this).prop('checked', false);
            });
        });
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">Wednesday</div>
        <div class="panel-body">
            <div class="checkbox, label label-warning">
                <label><input type="checkbox" id="meat3" class="Group3"> Chicken Pie</label>
            </div>
            <br />
            <div class="checkbox, label label-success">
                <label><input type="checkbox" id="veg3" class="Group3"> Cheese pizza</label>
            </div>
            <br />
            <div class="checkbox, label label-primary">
                <label><input type="checkbox" id="special3" class="Group3"> Jacket potato</label>
            </div>
            <br />
        </div>
    </div>
    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Group3').click(function () {
                $('.Group3').not(this).prop('checked', false);
            });
        });
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">Thursday</div>
        <div class="panel-body">
            <div class="checkbox, label label-warning">
                <label><input type="checkbox" id="meat4" class="Group4"> Chicken Pie</label>
            </div>
            <br />
            <div class="checkbox, label label-success">
                <label><input type="checkbox" id="veg4" class="Group4"> Cheese pizza</label>
            </div>
            <br />
            <div class="checkbox, label label-primary">
                <label><input type="checkbox" id="special4" class="Group4"> Jacket potato</label>
            </div>
            <br />
        </div>
    </div>
    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Group4').click(function () {
                $('.Group4').not(this).prop('checked', false);
            });
        });
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">Friday</div>
        <div class="panel-body">
            <div class="checkbox, label label-warning">
                <label><input type="checkbox" id="meat5" class="Group5"> Chicken Pie</label>
            </div>
            <br />
            <div class="checkbox, label label-success">
                <label><input type="checkbox" id="veg5" class="Group5"> Cheese pizza</label>
            </div>
            <br />
            <div class="checkbox, label label-primary">
                <label><input type="checkbox" id="special5" class="Group5"> Jacket potato</label>
            </div>
            <br />
        </div>
    </div>
    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.Group5').click(function () {
                $('.Group5').not(this).prop('checked', false);
            });
        });
    </script>
    <button type="submit" class="btn btn-default">Submit</button>
</form>